// MAIN

.app-content{
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}

// HOME

.home-heading{
    height: 200px;
    text-align: center;
    color: rgba(white, 0.6);
    letter-spacing: 5px;
}

.levels-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: $margin-lg;
}

.level{
    @extend .clickable-area;
    height: 150px;
    width: 220px;
    margin: 0 $margin-lg;
}

.home-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: $padding-md;
}

.footer-body{
    @extend .area;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: $font-xxl;
}

// NAVIGATION

.navigation{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: $padding-sm $padding-md;
    height: 90px;
    button{
        color: $light-trans-color;
        font-size: $font-xxxl;
        margin: 0 $margin-sm;
        &:hover{
            color: white;
        }
    }
}

.loader-wrapper{
    height: 15px;
    .loader{
        height: inherit;
    }
}

.time-remaining{
    font-size: $font-xxxl;
    color: rgba(white, 0.8);
}

// SETTINGS

.settings-wrapper{
    height: 100%;
    padding: $padding-md;
    .header{
        height: 80px;
        text-align: center;
        color: rgba(white, 0.8);
    }
    .body{
        height: calc(100% - 80px)
    }
}

.drop-zone-wrapper{
    @extend .area;
    border-style: dashed;
    .drop-zone{
        height: 100% !important;
        border: none !important;
        border-radius: 20px !important;
        .content{
            color: rgba(white, 0.8) !important;
            height: 100% !important;
            display: flex;
            align-content: center;
            justify-content: center;
        }
    }
}

// GAME CHOOSER

.game-chooser-wrapper{
    height: 100%;
    padding: $padding-md 0;
}   

.game-chooser-item{
    @extend .clickable-area;
    margin-bottom: $margin-lg;
    height: 150px;
    font-size: $font-xxxl;
}

.game-description{
    @extend .clickable-area;
    font-size: $font-xxl;
    text-align: justify;
    padding: $padding-md;
    cursor: auto;
    &:hover{
        background-color: rgba(white, 0.1);
    }
}

// GAMES

.game-wrapper{
    height: 100%;
    .heading{
        height: 60px;
        text-align: center;
        color: rgba(white, 0.8);
        padding: $padding-sm 0; 
    }
    .body{
        height: calc(100% - 60px);
        padding: $padding-sm 0; 
    }
}

.task{
    @extend .clickable-area;
    height: 80px;
    margin-bottom: $margin-lg;
    font-size: $font-xl;
}

.task__selected{
    background-color: rgba($accent-color, 0.8);
    &:hover{
        background-color: rgba($accent-color, 0.9);
    }
}

.qa-panel{
    @extend .area;
    padding: $padding-xl $padding-lg;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    .qa-panel-text{
        font-size: $font-xxl;
        @media (min-width: 1280px){
            font-size: $font-xxxl;
        }
        video{
            width: 100%;
            height: 100%;
        }
    }
}

// ASSOCIATIONS

.flower{
    display: inline-block;
    width: 25%;
    height: 100%;
    position: relative;
    left: -20px;
    .pistil{
        background-color: $pistil-background-color;
        width: 30%;
        padding-top: 30%;
        border-radius: 50%;
        border: 2px solid $pistil-border-color;
        position: relative;
        transform: translateX(140%) translateY(120%);
        cursor: pointer;
        z-index: 100;
        span{
            position: absolute;
            display: inline-block;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            font-size: $font-xl;
        }
        &:hover{
            background-color: darken($pistil-background-color, 10%);
        }
    }
    .petal{
        width: 40%;
        padding-top: 40%;
        background-color: $petal-background-color;
        border-radius: 50%;
        border: 2px solid $petal-border-color;
        position: relative;
        cursor: pointer;
        z-index: 90;
        &:nth-child(4n){
            transform: translateX(90%) translateY(-140%); //3 
        }
        &:nth-child(4n+1){
            transform: translateX(20%) translateY(-300%); //4
        }
        &:nth-child(4n+2){
            transform: translateX(90%) translateY(-60%); //1
        }
        &:nth-child(4n+3){
            transform: translateX(160%) translateY(-100%); //2
        }
        span{
            position: absolute;
            display: inline-block;
            top: 35%;
            left: 50%;
            transform: translateX(-50%);
            font-size: $font-xl;
        }
        &:hover{
            background-color: lighten($petal-background-color, 10%);
        }
    }
}

.ribbon{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 20%;
    transform: translateX(-50%);
    .knot{
        display: inline-block;
        width: 20%;
        padding-top: 20%;
        background-color: $petal-background-color;
        border: 2px solid $petal-border-color;
        border-radius: 50%;
        position: relative;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 100;
        span{
            position: absolute;
            display: inline-block;
            font-size: $font-xl;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover{
            background-color: lighten($petal-background-color, 10%);
        }
    }
    .left-part{
        width: 30%;
        height: 80%;
        background-color: $petal-background-color;
        border: 2px solid $petal-border-color;
        border-radius: 50%;
        position: relative;
        transform: translateX(50%) translateY(-110%);
        z-index: 90;
    }
    .right-part{
        width: 30%;
        height: 80%;
        background-color: $petal-background-color;
        border: 2px solid $petal-border-color;
        border-radius: 50%;
        position: relative;
        transform: translateX(180%) translateY(-210%);
        z-index: 90;
    }
}

.opened-field{
    span{
        font-size: $font-lg !important;
        top: 30% !important;
    }
}