<div class="game-wrapper" *ngIf="game">
  <div class="heading">
    <h1>{{game.name}}</h1>
  </div>
  <div class="body">

    <div class="flower" *ngFor="let column of game.columns">
      <div class="pistil" (click)="showTerm(column)" [ngClass]="{'opened-field': column.opened}">
        <span>{{column.value}}</span>
      </div>
      <div class="petal" *ngFor="let field of column.fields" (click)="showQuestion(field)" [ngClass]="{'opened-field': field.opened}">
        <span>{{field.value}}</span>
      </div>
    </div>

    <div class="ribbon">
      <div class="knot" (click)="finalSolution()">
          <span>{{final}}</span>
      </div>
      <div class="left-part"></div>
      <div class="right-part"></div>
    </div>

  </div>
</div>