$primary-color: #003468;
$secondary-color: #005BA8;
$accent-color: #FFC20E;
$error-color: #df2b2b;


$light-color: #FFFFFF;
$gray-color: #BABCBE;

$light-trans-color: rgba(white, 0.3);

$pistil-background-color: #FFC20E;
$pistil-border-color: rgb(207, 159, 15);
$petal-background-color-1: #c82828;
$petal-border-color-1: #a12121;
$petal-background-color-2: #00b12c;
$petal-border-color-2: #009225;
$petal-background-color-3: #288dc8;
$petal-border-color-3: #247eb3;
$petal-background-color-4: #ffd000;
$petal-border-color-4: #d8b000;