$primary-color: #003468;
$secondary-color: #005BA8;
$accent-color: #FFC20E;
$error-color: #df2b2b;


$light-color: #FFFFFF;
$gray-color: #BABCBE;

$light-trans-color: rgba(white, 0.3);

$pistil-background-color: #FFC20E;
$pistil-border-color: rgb(207, 159, 15);
$petal-background-color: #df2b2b;
$petal-border-color: #be2626;