$margin-xxl: 32px;
$margin-xl: 24px;
$margin-lg: 16px;
$margin-md: 12px;
$margin-sm: 8px;
$margin-xs: 4px;

$padding-xxl: 32px;
$padding-xl: 24px;
$padding-lg: 16px;
$padding-md: 12px;
$padding-sm: 8px;
$padding-xs: 4px;

$font-xxxl: 48px;
$font-xxl: 32px;
$font-xl: 24px;
$font-lg: 16px;
$font-md: 12px;
$font-sm: 8px;
$font-xs: 4px;